.Header {
  height: 100%;
  display: inline-block;
  text-align: center;
  width:170px;
  min-height: 500px;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}

.Header .FixedHeader {position: fixed; left: 0; top: 0; width: 170px; height: 100%;z-index: 1000000;}
.Header .BlurHeader {display: none; z-index: 10; }

.logoMain {height: 90px; width: 110px; margin: 20px 0px 20px 10px; display: block;}
.logoMain img {height: 90px; width: 110px; display: block;}

h3 {
  align-self: center;
}

@media only screen and (max-width: 1300px) {
  .Header {
    height: 60px;
    display: block;
    text-align: left;
    width:100%;
    position: relative;
    margin-bottom: 20px;
    min-height: auto;
  }
  .Header .FixedHeader {position: fixed; left: 0; top: 0; width: 100%; height: 60px;backdrop-filter: blur(6px);}
  .Header .BlurHeader {display: block; position: fixed; left: 0%; top: 0%; width: 100%; height: 60px;border-radius: 0;  border: 0; background: linear-gradient(-130deg,#c1befc4d,#fdf7f515 80%); box-shadow: 1px 1px 2px 1px rgba(202,202,202,0.32);-webkit-box-shadow: 1px 1px 2px 1px rgba(202,202,202,0.32);-moz-box-shadow: 1px 1px 2px 1px rgba(202,202,202,0.32);}
  .logoMain {height: 40px; width: 50px; margin: 10px 0px 0px 10px; display: inline-block;vertical-align: top;}
  .logoMain img {height: 40px; width: 50px; display: block;}
}