.FarmSetup {
    width: 100%;
    border: 1px solid #e0e2e6; 
    border-radius: 15px;
    background-color: #f7fafe;
    overflow: hidden;
    margin: 25px auto;
}
b {font-weight: bold;}
.FarmMain {
    width: 100%;
    display: inline-block;
}
.FarmInstructions {
    width: 41%;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    text-align: left;
}
.farmInfoCurve {
    background-color: #e9effc;
    display: inline-block;
    width: 56%;
    float: right;
    height: 100%!important;
    min-height: 100%!important;
    max-height: 100%!important;
    padding: 40px 20px;
}
.FarmToken {
    width: auto;
    display: block;
    margin: 6px 0 0 4px;
}
.FarmToken figure {
    display: inline-block;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    vertical-align: middle;
    width: 25px;
    height: auto;
    max-height: 40px;
}
.FarmToken img {
    width: 25px;
    height: auto;
    max-height: 40px;
}
.FarmToken span {font-size: 13px;font-weight: 700;color: #5f5b53; vertical-align: middle; display: inline-block;margin-left: 5px; }
.FarmInfoDetail {width: 100%; display: inline-block;font-size: 13px!important;margin: 10px 0 4px 4px;}
.FarmActivityA {color: rgba(52,177,94,.8784313725490196);border: 2px solid rgba(52,177,94,.8784313725490196);border-radius: 6px;padding: 2px 4px;font-size: 13px;display: inline-block;margin: auto 5px auto 0px;}
.FarmActivityI {color: #ad0002;border: 2px solid #ad0002;border-radius: 6px;padding: 2px 4px;font-size: 13px;display: inline-block;margin: auto 5px auto 0px;}
.FarmInfoDetail b, .FarmInfoDetailS b {font-weight: bold;}
.FarmInfoDetailS {width: 100%; display: inline-block;font-size: 11px!important;margin: 5px 0 0px 0px;}
.FarmInfoDetailM {width: 100%;text-align: center; display: inline-block;font-size: 11px!important;margin: 25px 0 0px 0px}
.FarmInfoDetailL {width: 100%;display: inline-block;font-size: 11px!important;margin: 25px 0 0px 0px}
.FarmInfoDetailS a {text-decoration: underline; color: #5f5b53;}
.farmInfoCurveL {width: 48%;display: inline-block;vertical-align: middle; margin-left: 0;font-size: 14px;margin-bottom: 2px; text-align: left;}
.MAinTokensel {vertical-align: middle;margin: 5px auto;width: 100%;font-size: 12px;font-weight: 700;}
.MAinTokensel a {width: 30px;height: 30px;display: inline-block;vertical-align: middle; margin-right: 5px;}
.MAinTokensel a img {width: 30px;height: 30px;display: inline-block;}
.farmInfoCurveR {display: inline-block;font-size: 14px;margin-bottom: 2px;width: 45%;margin-left: 2%; text-align: right;}
.UniV3CurveViewCurv {width: 95%; height: 30px; margin-bottom: 30px; border-bottom: 1px solid #7472fc; position: relative;}
.CircleLeftV3Curve, .CircleRightV3Curve {position: absolute; bottom: -5px; background-color: #7472fc; border: 1px solid #7472fc; color: #7472fc; height: 8px; width: 8px; border-radius: 100%;}
.CircleLeftV3Curve {left: -7px;}
.CircleRightV3Curve {right: -7px;}
.CircleLeftV3CurvePrice, .CircleRightV3CurvePrice {font-size: 11px;position: absolute;bottom: -22px;}
.CircleLeftV3CurvePrice {left: -7px;}
.CircleRightV3CurvePrice {right: -7px;}
.CircleActualPriceV3 {display: inline-block; text-align: center; position: absolute;left: 50%;bottom: -14px;}
.CircleRightV3Actual {display: inline-block;height: 20px; width: 20px; position: relative;margin-left: -8px;}
.CircleRightV3Actual img {width: 14px;height: 14px;margin-bottom: 12px;}
.CircleRightV3ActualPrice {display: inline-block;font-size: 11px; font-weight: bold;position: absolute; top: -17px;left: 0px;}
.UniV3CurveView {display: block; width: 100%; margin-top: 10px; padding: 3%;}
.farmInfoCurve {background-color: #e9effc; display: inline-block; width: 56% !important; float: right; height: 100% !important;min-height: 100% !important;max-height: 100% !important;padding: 40px 20px;}
.UniV3TVLFIV {width: 100%; margin:0px auto 10px auto; text-align: center; font-size: 10px !important; display: inline-block;}
.YourFarmingPositionsFarmingFarmingFarmingChiFarmaViveComeUnPAsha {width: 100%; display: inline-block; padding: 10px; margin: 5px auto 0px auto; border-radius: 15px; background-color: #e9effc; margin-top: -20px; background-color: #849BBD; border: 1px solid #849BBD;}
.FarmingYouInfoPart {width: 50%; display: inline-block; text-align: center;}
.FarmingYouInfoPart span {color: #ffffff;width: 100%; margin:0px auto 10px auto; text-align: center; font-size: 12px !important; display: inline-block}
.TimetoFarm {width: 100%; position: relative; display: inline-block; padding: 55px 10px; margin: 5px auto 0px auto; border-radius: 0; background-color:  transparent; margin-top: -20px;}
.TimetoFarmI {width: 38%; margin: 30px 1%; display: inline-block;}
.TimetoFarmOutput {width: 500px; padding:15px  2px; margin: 15px auto; border-radius: 15px; background-color: #849BBD; border: 1px solid #849BBD; display: block;}
.TimetoFarmOutputI {width: 300px; display: inline-block; text-align: left; vertical-align: middle;}
.TimetoFarmOutput p {width: 100%; margin:0px auto 5px auto; text-align: left; font-size: 12px !important; display: inline-block; color: #ffffff;}
.TimetoFarmOutput b {font-weight: bold; font-size: 13px; color: #ffffff;}
.FarmInputActionBTN {width: 580px; display: inline-block; margin: 10px auto;}
.FarmBoxSettings {width: 100px; display: inline-block;}
.RemovePerch {display: inline-block; margin: 10px 10px;}
input[type=range] {height: 31px;-webkit-appearance: none;margin: 10px 0;width: 100%;background-color: transparent;width: 350px; margin: 10px auto; display: block;}
 input[type=range]:focus {outline: none;}
 input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 15px;cursor: pointer;animate: 0.2s;box-shadow: 0px 0px 0px #50555C;background: #849BBD;border-radius: 10px;border: 0px solid #000000;}
 input[type=range]::-webkit-slider-thumb {box-shadow: 0px 0px 0px #000000;border: 0px solid #000000;height: 25px;width: 40px;border-radius: 12px;background: #7474F7;cursor: pointer;-webkit-appearance: none;margin-top: -5px;}
 input[type=range]:focus::-webkit-slider-runnable-track {background: #849BBD;}
 input[type=range]::-moz-range-track {width: 100%;height: 15px;cursor: pointer;animate: 0.2s;box-shadow: 0px 0px 0px #50555C;background: #849BBD;border-radius: 10px;border: 0px solid #000000;}
 input[type=range]::-moz-range-thumb {box-shadow: 0px 0px 0px #000000;border: 0px solid #000000;height: 25px;width: 40px;border-radius: 12px;background: #7474F7;cursor: pointer;}
 input[type=range]::-ms-track {width: 100%;height: 15px;cursor: pointer;animate: 0.2s;background: transparent;border-color: transparent;color: transparent;}
 input[type=range]::-ms-fill-lower {background: #849BBD;border: 0px solid #000000;border-radius: 20px;box-shadow: 0px 0px 0px #50555C;}
 input[type=range]::-ms-fill-upper {background: #849BBD;border: 0px solid #000000;border-radius: 20px;box-shadow: 0px 0px 0px #50555C;}
 input[type=range]::-ms-thumb {margin-top: 1px;box-shadow: 0px 0px 0px #000000;border: 0px solid #000000;height: 25px;width: 40px;border-radius: 12px;background: #7474F7;cursor: pointer;}
 input[type=range]:focus::-ms-fill-lower {background: #849BBD;}
 input[type=range]:focus::-ms-fill-upper {background: #849BBD;}