.IndexHeader {width: 100%; display: inline-block; position: absolute; top: 0; left: 0;}
.IndexHeaderLogo {width: 144px; height: 123px; display: inline-block;}
.IndexHeaderLogo img {width: 144px; height: 123px; display: inline-block;}
.IndexHeaderMenu {display: inline-block;}
.IndexHeaderDapp {}