.DelegationWalletsCard {width: 940px; margin: 25px; display: inline-block; background-color: #ffffff; border-radius: 20px; box-shadow: 1px 1px 2px 1px rgb(202 202 202 / 32%);-webkit-box-shadow: 1px 1px 2px 1px rgb(202 202 202 / 32%);-moz-box-shadow: 1px 1px 2px 1px rgba(202,202,202,0.32); text-align: center; overflow: hidden;position: relative; padding: 0px; overflow: hidden;}
.DelegationWalletsCardORG {width: 100%;  display: inline-block; text-align: left; background-color: #e9effc; padding: 25px;}
.DelegationWalletsCardORG figure {width: 50px; height: 50px; display: inline-block;vertical-align: middle;}
.DelegationWalletsCardORG figure img {width: 50px; height: 50px; display: inline-block;}
.DelegationWalletsCardORG span {font-size: 17px; font-weight: bold; margin-left: 10px; color: #000000; vertical-align: middle; padding: 0px 30px 0px 0px; border-right: 1px solid #ffffff;}
.DelegationWalletsCardORG p {margin: 5px 20px; display: inline-block; font-size: 13px; text-align: center; line-height: 1.5; vertical-align: middle;}
.DelegationWalletsCardORG p b {font-size: 16px;}
.DelegationWalletsCardBTN {width: 150px; display: inline-block; float: right; vertical-align: middle; margin-top: 10px;}


.OrgThingsTitle {width: 100%; display: inline-block; padding: 20px 5px; text-align: center;}
.OrgThingsTitle h6 {font-size: 20px;color: #000000; font-weight: bold; width: 100%; display: inline-block; text-align: center;}
.OrgThingsInfoContent {width: 19%; display: inline-block; margin: 10px 0.5%; padding: 5px 5px; text-align: center;}
.OrgThingsInfoContent b {font-size: 14px; font-weight: bold; color: #000000; margin: 5px auto; display: inline-block; width: 100%; text-align: center;}
.OrgThingsInfoContent p {font-size: 13px;display: inline-block; width: 100%; text-align: center;}
.OrgThingsInfoContent p a {text-decoration: underline;color: #000000;}
.OrgMainThingsCard .OpenBTN {position: absolute; top: 5px; right: 5px; width: 50px; height: 30px;}
