.RegularSelect {
position: relative;
display: inline-block;
margin-bottom: 15px;
width: auto;
}    
.RegularSelect select {
display: inline-block;
width: 100%;
cursor: pointer;
padding: 10px 16px;
outline: 0;
border: 1px solid #849bbd;
border-radius: 8px;
background: transparent;
color: #849bbd;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
padding-right: 40px;
font-size: 14px;
font-weight: bold;
}
.RegularSelect select::-ms-expand {
    display: none;
}
.RegularSelect select:hover,
.RegularSelect select:focus {
    color: #849bbd;
    background: #ffffff;
}
.RegularSelect select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 0px;
    height: 0px;
    border: solid #849bbd;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.RegularSelect select:hover ~ .select_arrow,
.RegularSelect select:focus ~ .select_arrow {
    border-color: #849bbd;
}
.RegularSelect select:disabled ~ .select_arrow {
    border-top-color: #849bbd;
}