.root {
  display: inline-block;
  position: fixed;
  top: 70px;
  left: 20px;
  border-left: 1px solid #ffffff;
  padding-top: 20px;

}

.item {
  display: block;
  margin: 10px;
  text-align: left;
}

.indicator {
  height: 30px;
}

p {
  align-self: center;
}