.Navigation {
  display: block;
  border-left: 2px solid #F0F0F0;
  padding: 10px;
  width: 148px;
  margin: 30px 15px;
  cursor: pointer; 
  text-align: center;
}
.Navigation a {margin: 7px 0;display: inline-block;width: 100%;text-align: left;}

.item {
  font-size: 15px;
  color: #ffffff;
}

.indicator {
  height: 30px;
}

p {
  align-self: center;
}