.DelegationWalletOpenedCard {width: 100%; display: block; padding: 20px;  text-align: left; overflow: hidden;position: relative; margin: 10px auto;}
.DelegationWalletOpenedCardWrap {width: 200px; display: inline-block;}
.DelegationWalletOpenedCardWrap h6 {font-size: 15px; line-height: 1.3; display: inline-block; margin: 5px auto;}
.DelegationWalletOpenedCardWrap p {font-size: 11px; line-height: 1.2; display: inline-block; margin: 5px auto 10px auto;}
.DelegationWalletOpenedCardWrap p b {font-size: 13px; line-height: 1.2;}
.DelegationWalletOpenedCardWrapBTN {margin: 2px auto;}
.DelegationWalletOpenedCardWrapBox {padding: 15px; background-color: #e9effc; display: inline-block; width: 100%; border-radius: 18px; margin: 10px auto; text-align: center;}
.DelegationWalletOpenedCardProposals {width: 600px; margin-left: 100px; display: inline-block; vertical-align: top;}
.DelegationWalletOpenedCardProposalBox {margin: 10px auto; width: 100%; display: inline-block; padding: 20px; background-color: #e9effc; border-radius: 20px; text-align: left;}
.DelegationWalletOpenedCardProposalBoxTitle {width: 400px; display: inline-block;}
.DelegationWalletOpenedCardProposals p {width: 100%; display: inline-block; margin: 10px auto; font-size: 18px; color: #000000;}
.DelegationWalletOpenedCardProposalBoxTitle h6 {font-size: 16px; color: #000000; display: inline-block; width: 100%;}
.DelegationWalletOpenedCardProposalBoxTitle p {font-size: 11px; line-height: 1.2; display: inline-block; width: 100%;}
.TokenProposalVotesCount {width: 100%; display: inline-block; text-align: left;}
.TokenProposalVotesCount span {font-size: 11px;}
.TokenProposalVotesCount span a {text-decoration: underline;}


.TokenProposalCardX {width: 100%; background-color: #ffffff;padding: 10px; border-radius: 16px;}
.TokenProposalCardX p {width: auto; font-size: 15px; display: inline-block; margin: 5px; color: #000000;}
.TokenProposalCardX p > a {width: 20px; height: 20px; display: inline-block; vertical-align: middle;} 
.TokenProposalCardX p > a img {width: 20px; height: 20px; display: inline-block;} 
.TokenProposalOpenClose { margin: 5px; float: right; display: inline-block;}
.TokenProposalVotesCount {width: 100%; display: inline-block; text-align: left;}
.TokenProposalVotesCount span {font-size: 11px;}
.TokenProposalVotesCount span a {text-decoration: underline;}
.SurveylessOpenCardTokens {width: 340px; vertical-align: top; display: inline-block; margin: 10px auto;}
.SurveylessOpenCardTokens > p {font-size: 16px; font-weight: bold; color: #000000;}
.SurveylessOpenCardTokensList {width: 100%; display: inline-block; margin: 10px auto; text-align: left;}
.SurveylessOpenCardTokensList a {width: 160px; min-height: 160px; max-height: 300px; display: inline-block; margin: 5px; overflow: hidden; border-radius: 20px;}
.SurveylessOpenCardTokensList a img {width: 100%; height: 100%; display: inline-block; margin: 0;}
.SurveylessOpenCardTokensVotingPower {padding: 10px; background-color: #EEEEEE; text-align: center;}
.SurveylessOpenCardSelection {width: 450px; margin: 10px 40px; display: inline-block; background-color: #e9effc; border-radius: 16px; padding: 20px; vertical-align: top;}
.SurveylessOpenCardSelection > p {font-size: 16px; font-weight: bold; color: #000000;}
.SurveylessOpenCardSelectionCont {width: 100%;margin: 20px auto; text-align: left;}
.SurveylessOpenCardSelectionSingle {width: 45%; background-color: #ffffff; padding: 10px; text-align: center; display: inline-block; border-radius: 18px; margin: 10px 2.5%;}
.SurveylessOpenCardSelectionSingle p, .SurveylessOpenCardSelectionSingleCurrent p {font-weight: bold; font-size: 17px; width: 100%; text-align: center; display: inline-block; margin: 5px auto; color: #000000;}
.SurveylessOpenCardSelectionSingle:selected {border-color: green;}
.SurveylessOpenCardSelectionSingleCurrent {width: 45%; background-color: #ffffff; padding: 10px; text-align: center; display: inline-block; border-radius: 18px; margin: 10px 2.5%;}
.SurveylessOpenCardSelectionSingle span {width: 100%; display: inline-block; font-size: 11px;}
.SurveylessOpenCardSelectionSingle input {margin: 10px auto;}
.SurveylessOpenCardSelectionSingleQuantity {margin: 20px auto 0px auto; text-align: center; width: 100%; display: inline-block;}
.SurveylessOpenCardSelectionSingleOpenStaked {width: 100%; display: inline-block; text-align: center; border-radius: 12px; background-color: #ffffff; margin: 20px auto 0px auto; padding: 10px;}
.SurveylessOpenCardSelectionSingleOpenStaked p {display: inline-block; margin: 5px 10px; font-size: 13px; color: #000000;}