.root {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0  auto 0 auto;
  display: block;
  text-align: center;
  padding-top: 60px;
  height: fit-content;
    min-height: 100%;
}
.OnlyMobile {display: none;}

.container {
  padding: calc(var(--unit) * 3) 10px 0 10px;
  min-height: 300px;
  width: 80%;
  min-width: 950px;
  margin: 0 0 0 0;
  display: inline-block;
  text-align: center;
}

.hideHeader {
  padding-top: 0;
}

@media only screen and (max-width: 1200px) {
  .container { width: 98%; margin: 20px auto;}
  .root { padding-top: 100px;}
}
@media only screen and (max-device-width: 990px) {
  .container {min-width: 99%; width: 99%;}
  .BlockNews {display: none !important;}

}

.BackgroundBodyImage{
  position: fixed;
    bottom: -380px;
    left: -150px;
    z-index: 0;
    opacity: 0.1;
}

@media only screen and (max-width: 1200px) {
  .container {
    min-width: 100%;
  }
}

@media only screen and (max-width: 1530px) {
  .root { padding-top: 100px;}
}

@media only screen and (max-width: 767px) {
  .root {
    padding-top: 30px;
  }
}