.root {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0  auto 0 auto;
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-left: 15em;
}
.OnlyMobile {display: none;}

.BlockNews {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000000000000;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  padding: 12px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #555555;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;}
.BlockNews p {color: #444 !important;}
.BlockNews a {color: #444;}

.container {
  padding: calc(var(--unit) * 3) 10px 0 10px;
  min-height: 300px;
  width: 80%;
  min-width: 950px;
  margin: 0 0 0 0;
  display: inline-block;
  text-align: center;
}

.hideHeader {
  padding-top: 0;
}

@media only screen and (max-width: 1200px) {
  .container { width: 98%; margin: 20px auto;}
  .root { padding-top: 0px;}
}
@media only screen and (max-device-width: 990px) {
  .container {min-width: 99%; width: 99%;}
  .BlockNews {display: none !important;}

}

.BackgroundBodyImage{
  position: fixed;
  bottom: -200px;
  right: -200px;
  z-index:0;
  opacity: 0.1;
}