.root {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0  auto 0 auto;
  display: block;
  text-align: left;
}

.BlockNews {position: fixed; bottom: 10px; right: 10px; z-index: 10000000000000; -webkit-backdrop-filter: blur(6px);backdrop-filter: blur(6px); padding: 12px; border-radius: 10px; font-size: 10px; font-weight: bold; color: #555555;}
.BlockNews a {color: #555555;}

.container {
  padding: calc(var(--unit) * 3) 10px 0 10px;
  min-height: 300px;
  width: 80%;
  min-width: 950px;
  margin: 0 0 20px 2%;
  display: inline-block;
  text-align: center;
}

.hideHeader {
  padding-top: 0;
}

@media only screen and (max-width: 1200px) {
  .container { width: 98%; margin: 20px auto;}
}
