.root {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  text-align: left;
}

.logoMain {height: 50px; width: 60px; margin: 10px; display: inline-block;}
.logoMain img {height: 50px; width: 60px; display: block;}

h3 {
  align-self: center;
}