.Upshot {width: 180px; display: inline-block; margin: 10px; text-align: left;}
.Upshot span {font-size: 11px; font-weight: bold; margin-bottom: 2px; padding: 10px; background-color: #eeeeee59; border-radius: 12px;}
.UpshotBar {width: 100%; display: inline-block; padding: 5px; background-color: #e9effc; border-radius: 16px;}
.UpshotBar figure {width: 10%; display: inline-block; padding: 5px; background-color: #D4CEFA; border-radius: 16px; font-size: 12px;}