.Web3PagesRoot {
  width: 950px;
}

.image {
  height: 300px;
}

.ItemsExploreMain {width: 100%; text-align: left;}
.ItemsCreateMain {width: 100%; text-align: center;}
.SingleContentPage {width: 100%; max-width: 990px; text-align: center;}
.CollectionLeft {width: 300px; display: inline-block; text-align: center;  vertical-align: top;}
.CollectionRight {width: 575px;display: inline-block; text-align: center;  margin-left: 30px;vertical-align: top;}


.title {
  margin-bottom: calc(var(--unit) * 3) 0;
}

.text {
  padding: 0 calc(var(--unit) * 15);
  margin: calc(var(--unit) * 3) 0;
}

.text:last-child {
  margin-bottom: calc(var(--unit) * 10);
}
.ComingSoon {width: 700px; display: inline-block; margin: 100px auto;}
.ComingSoon img {width: 400px;}
.ComingSoon a {font-size: 14px; font-weight: bold; text-decoration: underline;}