svg.profileArea {
  opacity: 0;
  position: relative;
  width: 70%;
  max-height: 95%;
  min-width: 900px;
  margin-top: 80px;
}


@media only screen and (max-width: 767px) {

    svg.profileArea{
        width: 100%!important;
        min-width: 100%!important;
        max-width: 100%!important;
    }
    
}