.root {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 100px auto 0 auto;
  display: block;
  text-align: center;
}

.container {
  padding: calc(var(--unit) * 3) 10px 0 10px;
  min-height: 300px;
  width: 1100;
  margin: 10px auto 20px 150px;
  display: inline-block;
}

.hideHeader {
  padding-top: 0;
}
