.root {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0  auto 0 auto;
  display: block;
  text-align: left;
}

.container {
  padding: calc(var(--unit) * 3) 10px 0 10px;
  min-height: 300px;
  width: 80%;
  min-width: 750px;
  margin: 20px 0 20px 2%;
  display: inline-block;
  text-align: center;
}

.hideHeader {
  padding-top: 0;
}

@media only screen and (max-width: 1300px) {
  .container { width: 98%; margin: 20px 1%;}
}
