.Navigation {
  display: block;
  width: 148px;
  margin: 30px 15px;
  cursor: pointer; 
  text-align: center;
  min-height: 100%;
}

.NavigationItem {
  position: relative;
  margin: 7px 0;
  display: inline-block;
  width:150px;
  text-align: left;
  padding: 8px 15px;
  background-color: #ffffff;
  border-radius: 8px;
}
.NavigationItem:hover {
  margin: 7px 0 7px 25px;
}

.Navigation .selected {
  margin: 7px 0 7px 20px;
}


.NavigationItem p {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  vertical-align: middle;
  display: inline-block;
}
.NavigationItem img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  color: #000000;
  vertical-align: middle;
  display: inline-block;
}


.NavigationItem .Hand {position: absolute; left: -30px; top: 10px; width:25px; height: 20px; display: none;}

.NavigationItem:hover .Hand {display: inline-block;}

.selected {
  font-weight: bold;
  color: #6e6e6e;
  background-color: #c1befc;
}

.indicator {
  height: 30px;
}

p {
  align-self: center;
}

@media only screen and (max-width: 1200px) {
  .Navigation {
    display: inline-block;
    border-left: none;
    padding: 8px;
    width: auto;
    cursor: pointer; 
    text-align: center;
    margin: 0px 0px 0px 50px;
    vertical-align: top;
  }
  .NavigationItem:hover {
    margin: 7px 10px;
  }
  .NavigationItem {
    font-size: 15px;
    color: #000000;
    text-align: center;
    margin: 7px 10px;
    display: inline-block;
    text-align: left; 
    width: 150px; 
    text-align: center;
    border-radius: 8px;
    background-color: transparent;
  }
  .NavigationItem img {display: none;}
  .NavigationItem img {width: 10px; height: 10px;}
  .NavigationItem:hover img {display: inline-block;}
  .Navigation .Selected img {display: inline-block;}
  .NavigationItem:hover, .Navigation .Selected {background-color: #ffffff;}
  .NavigationItem:hover .Hand {display: none;}
}

@media only screen and (max-width: 990px) {
  .NavigationItem {
    font-size: 11px;
    width: 20%;
    overflow: hidden; 
  }
  .Navigation .Selected img {display: none;}
}