.Navigation {
  display: block;
  width: 148px;
  margin: 30px 15px;
  cursor: pointer; 
  text-align: center;
}

.Navigation a {
  margin: 7px 0;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 8px 15px;
  background-color: #ffffff;
  border-radius: 2px;
}

.item p {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  vertical-align: middle;
  display: inline-block;
}
.item img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  color: #000000;
  vertical-align: middle;
  display: inline-block;
}

.selected {
  font-weight: bold;
  color: #6e6e6e;
  background-color: #c1befc;
}

.indicator {
  height: 30px;
}

p {
  align-self: center;
}

@media only screen and (max-width: 1300px) {
  .Navigation {
    display: inline-block;
    border-left: none;
    padding: 8px;
    width: auto;
    cursor: pointer; 
    text-align: center;
    margin: 0px 0px 0px 50px;
    vertical-align: top;
  }
  .item {
    font-size: 15px;
    color: #000000;
    width:100%;
    text-align: center;
  }
  .Navigation a {
    margin: 7px 10px;
    display: inline-block;
    text-align: left; 
    width: 120px; 
    text-align: center;
    border-radius: 8px;}
}